body{
    background-color: #011627 !important;
}

.page{
    margin-left: 60px;
}

.mt{
    margin-top: 15%!important;
}

.white{
    color:#DADFE0;
}

.orange{
    color: #F6BE81;
}

.green{
    color: #A8DF67;
}